# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  create:

env:
  EB_DEV_APP: BumpBox2
  EB_DEV_ENV: BumpBox2-env

jobs:
  build:
    # Will always deploy to AWS Dev server if `[deploy]` is present on commit message. `[staging]` to deploy to staging as well
    if: github.repository == 'fishxeno/BumpBox' && contains(github.event.head_commit.message, '[deploy]')
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: |
            bumpbox/package-lock.json
            server/package-lock.json

    - name: Install frontend dependencies
      working-directory: ./bumpbox
      run: npm ci

    - name: Build frontend
      working-directory: ./bumpbox
      run: npm run build

    - name: Copy frontend build into server
      run: |
        rm -rf server/public
        mkdir -p server/public
        cp -r bumpbox/dist/* server/public/

    - name: Generate deployment package
      working-directory: ./server
      run: zip -D -q -r -X deploy.zip . -x "./node_modules/*"

    - name: Upload deployment package
      uses: actions/upload-artifact@v6
      with:
        name: deploy
        path: ./server/deploy.zip

  deploy-dev:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Download deployment package
      uses: actions/download-artifact@v6
      with:
        name: deploy

    - name: Deploy to EB
      uses: einaregilsson/beanstalk-deploy@v22
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: ${{ env.EB_DEV_APP }}
        environment_name: ${{ env.EB_DEV_ENV }}
        use_existing_version_if_available: true
        version_label: ${{ github.sha }}
        existing_bucket_name: elasticbeanstalk-ap-southeast-1-202945931472
        region: ap-southeast-1
        deployment_package: ./deploy.zip
